$colorBlue: #041562;
$colorRed: #DA1212;
$colorWhite:#ffffff;

@mixin circle($size,$bgColor:$colorRed){
    width: $size;
    height: $size;
}

@mixin dart($number){
    top: 300px-$number*30px;
    left: 370px-$number*24px;
}

html,body{
    background-color: $colorBlue;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#target{
    background-color: #000;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 10px;
    position: relative;

    .circle{
        background-color: $colorRed;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        &.white{
            background-color: white;
        }
    }
}

img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    right: -15px;
}
.dart{
    position: absolute;
}